table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    min-width: 100px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}